.barrita1 {
  width: 10px;
  height: 20px;
  background-color: red;
  margin: 3px;
  border-radius: 10px;
  transition: width 0.3s;
}

.barrita2 {
  width: 10px;
  height: 20px;
  background-color: blue;
  margin: 3px;
  border-radius: 10px;
  transition: width 0.3s;
}

/*#barras {
  border: 1px black solid;
  display: flex;
  justify-content: center;
  /*align-items: center;
  flex-wrap: wrap;
}*/