.barrita1{
    width: 10px;
    height: 20px;
    background-color: red;
    margin: 3px;
    border-radius: 5px;
    transition: width 0.3s;
}
.barrita2{
    width: 10px;
    height: 20px;
    background-color: blue;
    margin: 3px;
    border-radius: 5px;
    transition: width 0.3s;
}